<div class="tab-pane" id="contactDetails">
    <div class="row">
        <div class="col-sm-6">

            <div class="row">
                <p class="col-md-3 col-form-label">
                    Cell Number:
                    <span class="text-danger">*</span>
                </p>
                <div class="col-md-9">
                    <div class="form-group has-default">
                        <input type="number" min="0" minlength="10" maxlength="12" class="form-control" id="cellNumber" name="cellNumber" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="col-md-3 col-form-label">Work Number : </p>
                <div class="col-md-9">
                    <div class="form-group has-default">
                        <input type="number" min="0" minlength="10" maxlength="12" class="form-control" id="workNumber" name="workNumber">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <p class="col-md-3 col-form-label">Email Address: </p>
                <div class="col-md-9">
                    <div class="form-group has-default">
                        <input type="email" class="form-control" id="emailAddress" name="emailAddress">
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="col-md-3 col-form-label">
                    Physical Address :
                    <span class="text-danger">*</span>
                </p>
                <div class="col-md-9">
                    <div class="form-group has-default">
                        <input type="text" class="form-control" id="physicalAddress" name="physicalAddress" required>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>