@model IEnumerable<CDFStaffManagement.Services.Parameters.TerminationReasons>

@{
    ViewData["Title"] = "JobTitles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/bootstrap/normalbootstrap/css/bootstrap.min.css" rel="stylesheet"/>
<div class="content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">assignment</i>
                    </div>
                    <h5 class="card-title">Termination Reasons </h5>

                </div>
                <div class="card-body col-md-12">
                    <div class="">
                        <button type="button" value="Add" rel="tooltip" class="button btn btn-info btn-sm pull-right" data-toggle="modal" onclick="addTerminationReason()">
                            <i class="material-icons">add</i>New Termination Reason
                        </button>
                    </div><br>
                    <div class="material-datatables">
                        <table id="datatables" class="table  table-striped" data-order='[[ 0, "desc" ]]' cellspacing="0" width="100%" style="width:100%; font-size:small;font-family:'Times New Roman', Times, serif">
                            <thead>
                            <tr class="">
                                <th> Code </th>
                                <th> Description </th>
                                <th> Status </th>
                                <th>
                                    <center> Action </center>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="tblRow">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Code)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        <center>
                                        <button class="btn btn-primary btn-sm dropdown-toggle waves-effect waves-light " type="button" id="dropdown-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">build</i>Action </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdown-2" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
                                            <a href="javascript:void(0)" class="dropdown-item waves-light waves-effect EditBtn" onclick="editTerminationReason($(this))"><i class="material-icons">edit</i>Edit Details</a>
                                        </div>
                                        </center>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- ADD AND EDIT TERMINATION REASON MODAL -->
            <div class="modal fade" id="AddEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="max-width: 40% !important;">
                    <div class="modal-content">
                        <div class="modal-header bg-info">
                            <h5 class="modal-title" style="margin-bottom: 25px">
                                <b class="modalTitle"> </b>
                            </h5>
                            <h5 class="code" style="display:none"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <i class="material-icons text-danger">clear</i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row col-12">

                                <div class="col-md-12">
                                    <div class="row">
                                        <p class="col-md-3 col-form-label">
                                            Code
                                            <span class="text-danger">*</span>
                                        </p>
                                        <div class="col-md-9">
                                            <div class="form-group has-default">
                                                <input type="text" class="form-control code" id="code" minlength="2" maxlength="5" onchange="validateCode()" placeholder="Enter code" style="text-transform: uppercase">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p class="col-md-3 col-form-label">
                                            Description
                                            <span class="text-danger">*</span>
                                        </p>
                                        <div class="col-md-9">
                                            <div class="form-group has-default">
                                                <input type="text" class="form-control description"  id="description" maxlength="50" placeholder="Enter description">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <p class="col-md-3 col-form-label">
                                            <span class="text-danger"></span>
                                        </p>
                                        <div class="col-md-9">
                                            <div class="form-group has-default">
                                                <select class=" form-control selectpicker status" id="status">
                                                    <option value="" selected> Select Status</option>
                                                    <option value="A"> Active </option>
                                                    <option value="I"> Inactive </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success waves-effect mr-2 btn-sm SubmitBtn" onclick="submitNewTerminationReason()">Add</button>
                                <button type="button" class="btn btn-success  waves-effect mr-2 btn-sm submitEditedRecordBtn" onclick="submitEditedTerminationReason()">Edit</button>
                                <button type="button" class="btn btn-danger waves-effect mr-2 btn-sm" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/jquery/jquery.js"></script>
<script src="~/bootstrap/normalbootstrap/js/bootstrap.js"></script>
<script src="~/CustomJS/CheckUserSession.js"></script>
<script src="~/CustomJS/ResponseAlert.js"></script>
<script src="~/CustomJS/terminationReasons/terminationReason.js"></script>