@model CDFStaffManagement.Services.UserAccount.SignUpViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header card-signup">
                    <div class="card-header card-header-info text-center">
                        <p>
                            <i class="material-icons">person_add</i> <h5 class="card-title">Add New User</h5>
                        </p>
                    </div>
                </div>
                <div class="card-body col-md-12">
                    <form class="form" asp-action="SignUp" enctype="multipart/form-data">
                        <center>
                            <div class="col-md-6 card">

                                <div class="card-body ">
                                    <div class="input-group ">
                                        <div class="input-group-prepend searchDiv">
                                            <span class="input-group-text">
                                                <i class="material-icons">face</i>
                                            </span>
                                        </div>
                                        <input type="text" asp-for="EmployeeCode" class="form-control" id="search" placeholder="Employee Code..."/>
                                        <span asp-validation-for="EmployeeCode" class="text-danger"></span>
                                    </div>
                                    <br>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">email</i>
                                            </span>
                                        </div>
                                        <input type="email" asp-for="Email" class="form-control" placeholder="Email address..."/>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <br>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">person</i>
                                            </span>
                                        </div>
                                        <input type="text" asp-for="UserName" class="form-control" minlength="4" placeholder="UserName..."/>
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                    <br>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">person</i>
                                            </span>
                                        </div>
                                        @Html.DropDownListFor(Model => Model.UserRole, new List<SelectListItem>
                                        {
                                            new() {Text = "SuperUser", Value = "1"},
                                            new() {Text = "Payroll User", Value = "2"},
                                            new() {Text = "Admin", Value = "3"},
                                        }, "Select UserRole", new {@class = "form-control", placeholder = "select UserRole", style = "border-top:none;border-left:none;border-right:none; font-size:small;font-weight:medium"})
                                    </div>
                                     <br>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                        </div>
                                        <input type="password" asp-for="Password" class="form-control" placeholder="Password..."/>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="text-center">
                                        <center>
                                            <button type="submit" class="btn btn-info btn-md btn-block btn-round waves-effect text-center col-md-10" style="background-color: #BD9D60; border: none; margin-top: 20px">
                                                <i class="material-icons">person_add</i>
                                                Add User
                                            </button>
                                        </center>
                                    </div>
                                </div>
                                <center>
                                    <h4>
                                        <label style="text-decoration:dashed" class="text-rose">
                                            <b> @TempData["SignUpMessage"] </b>
                                        </label>
                                    </h4>
                                </center>
                            </div>
                        </center>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


