@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
}


<section class="content-header">
    <h3>
        <small> HR & Payroll Zambia </small>
    </h3>
</section>
<div>
    <center><img src="~/img/payroll_Img2.jfif" alt="Photo" style="height:50%; width:80%;"></center>
</div>

