@model IEnumerable<CDFStaffManagement.Services.Parameters.Departments>
@{
    ViewData["Title"] = "Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/bootstrap/normalbootstrap/css/bootstrap.min.css" rel="stylesheet"/>
<div class="content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">assignment</i>
                    </div>
                    <h5 class="card-title" style="margin-bottom: 25px">Departments </h5>

                </div>
                <div class="card-body">
                    <div class="">
                        <button type="button" value="Add" rel="tooltip" class="button btn btn-info btn-sm pull-right" data-toggle="modal">
                            <i class="material-icons">add</i>New Record
                        </button>
                    </div>
                    <div class="material-datatables">
                        <table id="datatables" class="table table-striped" data-order='[[ 0, "desc" ]]' cellspacing="0" width="100%" style="width:100%; font-size:small;font-family:'Times New Roman', Times, serif">
                            <thead>
                            <tr class="">
                                <th class="ID d-none"> ID </th>
                                <th> Department Code </th>
                                <th> Description </th>
                                <th> Status </th>
                                <th>
                                    <center>Action</center>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="tblRow">
                                    <td class="d-none">
                                        @Html.DisplayFor(modelItem => item.DepartmentId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DepartmentCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LongDescription)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        <center>
                                            <button rel="tooltip" class="button btn btn-primary  btn-sm EditBtn" value="Edit" title="Edit">
                                                <i class="material-icons">edit</i>Edit
                                            </button>
                                            <button rel="tooltip" class="btn btn-danger d-none  btn-sm  DeleteBtn" title="Delete">
                                                <i class="material-icons">close</i> Disable
                                            </button>
                                        </center>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--- ADD-EDIT MODAL --->
            <div class="modal fade" id="AddEditDeptModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="max-width: 40% !important;">
                    <div class="modal-content">
                        <div class="modal-header bg-info">
                            <h5 class="modal-title">
                                <b class="modalTitle"> </b>
                            </h5>
                            <h4 class="DepartmentId" style="display:none"></h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <i class="material-icons">clear</i>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="col-md-12">
                                <div class="row">
                                    <p class="col-md-3 col-form-label">
                                        Department Code
                                        <span class="text-danger">*</span>
                                    </p>
                                    <div class="col-md-9">
                                        <div class="form-group has-default">
                                            <input type="text" class="form-control DepartmentCode" maxlength="5" style="text-transform:uppercase;text-align:left" placeholder="enter department code">

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="col-md-3 col-form-label">
                                        Description
                                        <span class="text-danger">*</span>
                                    </p>
                                    <div class="col-md-9">
                                        <div class="form-group has-default">
                                            <input type="text" class="form-control LongDescription" placeholder="Enter description" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="col-md-3 col-form-label">
                                        <span class="text-danger"></span>
                                    </p>
                                    <div class="col-md-9">
                                        <div class="form-group has-default">
                                            <select class=" form-control selectpicker Status" id="Status">
                                                <option value="" selected> Select Status</option>
                                                <option value="A"> Active </option>
                                                <option value="I"> Inactive </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success waves-effect mr-2   btn-sm SubmitBtn">Add</button>
                            <button type="button" class="btn btn-success  waves-effect mr-2  btn-sm EditModalBtn">Edit</button>
                            <button type="button" class="btn btn-danger  waves-effect mr-2  btn-sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/jquery/jquery.js"></script>
<script src="~/CustomJS/CheckUserSession.js"></script>
<script src="~/CustomJS/ResponseAlert.js"></script>
<script src="~/CustomJS/Department.js"></script>
<script src="~/bootstrap/normalbootstrap/js/bootstrap.js"></script>
<script src="~/MDB/js/popper.min.js"></script>