@model IEnumerable<CDFStaffManagement.Services.Parameters.JobGrades>
@{
    ViewData["Title"] = "JobGrade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/bootstrap/normalbootstrap/css/bootstrap.min.css" rel="stylesheet" />
<div class="content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">assignment</i>
                    </div>
                    <h5 class="card-title">Job Grades</h5>

                </div>
                <div class="card-body">
                    <div class="">
                        <button type="button" value="Add" rel="tooltip" class="button btn btn-info btn-sm pull-right" data-toggle="modal">
                            <i class="material-icons">add</i>New Record
                        </button>
                    </div>
                    <div class="material-datatables">
                        <table id="datatables" class="table  table-striped" data-order='[[ 0, "desc" ]]' cellspacing="0" width="100%" style="width:100%; font-size:small;font-family:'Times New Roman', Times, serif">
                            <thead>
                                <tr class="">
                                    <th class="ID d-none"> ID </th>
                                    <th>Code</th>
                                    <th>Description </th>
                                    <th>Status </th>
                                    <th><center> Actions </center></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="d-none">
                                            @Html.DisplayFor(modelItem => item.JobGradeId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.JobGradeCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.JobGradeDescription)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td>
                                            <center>
                                                <button type="button" rel="tooltip" class="button btn btn-success btn-sm editBtn" value="Edit" title="Edit">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                            </center>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="AddEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-info">
                            <h5 class="modal-title" style="margin-bottom: 25px"><b class="modalTitle">  </b></h5>
                            <h4 class="JobGradeId" style="display:none"></h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <i class="material-icons">clear</i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group bmd-form-group is-filled">
                                <label class="label-control">JobGrade Code </label>
                                <input type="text" class="form-control JobGradeCode" maxlength="5" style="text-transform:uppercase;text-align:left">
                                <br>
                                <label class="label-control">Long description </label>
                                <input type="text" class="form-control LongDescription">
                                <br>
                                <select class=" form-control selectpicker Status" id="Status" data-style="select-with-transition">
                                    <option value="0" selected> Select Status</option>
                                    <option value="A"> Active </option>
                                    <option value="I"> Inactive </option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success waves-effect mr-2 btn-sm SubmitBtn">Add</button>
                            <button type="button" class="btn btn-success waves-effect mr-2 btn-sm EditModalBtn">Edit</button>
                            <button type="button" class="btn btn-danger waves-effect mr-2 btn-sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/jquery/jquery.js"></script>
<script src="~/CustomJS/CheckUserSession.js"></script>
<script src="~/CustomJS/ResponseAlert.js"></script>
<script src="~/CustomJS/JobGrades.js"></script>
<script src="~/bootstrap/normalbootstrap/js/bootstrap.js"></script>

